**/node_modules
Backend/backend/node_modules/
Backend/backend/pm-debug.log*
Backend/backend/yarn-error.log*
Backend/backend/pnpm-debug.log*
*.log


dist/
build/
coverage/



# local env files
**/*.env
**/.env
**/.env.*.local
**/.env.*.local.*

# Directorio del proyecto Angular:
Frontend/frontend/node_modules/
Frontend/frontend/dist/
Frontend/frontend/.angular/          # Cache Angular CLI
Frontend/frontend/.env*
Frontend/frontend/coverage/
Frontend/frontend/.vscode/


**/.docker/
docker-compose.override.yml
docker-compose.*.yml
Dockerfile.local
.dockerignore


*.sqlite
*.sqlite3
*.db
pgdata/
dump.sql


# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# VS Code
.vscode/
.history/

# Otros editores
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Parcel / Vite / Webpack caches
.cache/
.parcel-cache/
.vite/

# Logs de Sequelize, Prisma, etc.
*.tgz
prisma/dev.db
prisma/migrations/sqlite/

