<div class="forms-section">
  <a href="/">
    <h1 class="section-title">
      <a href="/">BOOK</a>
      <samp>byte</samp>
    </h1>
  </a>

  <div class="forms">
    <div class="form-wrapper" [class.is-active]="isLoginFormActive">
      <button
        class="switcher switcher-login"
        (click)="toggleForm(true)"
        type="button"
      >
        Iniciar Sesión
        <span class="underline"></span>
      </button>
      <form class="form form-login" (ngSubmit)="submitLogin()">
        <fieldset>
          <legend>
            Por favor ingresa tu correo electrónico y tu contraseña para iniciar
            sesión
          </legend>
          <div class="input-block">
            <label for="login-email">Correo electrónico</label>
            <input
              id="login-email"
              type="email"
              name="login_email"
              [(ngModel)]="loginEmail"
              required
            />
          </div>
          <div class="input-block">
            <label for="login-password">Contraseña</label>
            <input
              id="login-password"
              type="password"
              name="login_password"
              [(ngModel)]="loginPassword"
              required
            />
          </div>
          <div *ngIf="errorMsg.length > 0" class="error">
            <p *ngFor="let err of errorMsg">{{ err }}</p>
          </div>
        </fieldset>
        <button class="btn-login" type="submit">Iniciar Sesión</button>
      </form>
    </div>

    <div class="form-wrapper" [class.is-active]="!isLoginFormActive">
      <button
        class="switcher switcher-signup"
        (click)="toggleForm(false)"
        type="button"
      >
        ¿Nuevo usuario?
        <span class="underline"></span>
      </button>
      <form class="form form-signup" (ngSubmit)="submitSignup()">
        <fieldset>
          <legend>
            Por favor ingresa tu correo electrónico, tu contraseña y confirma tu
            contraseña para registrarte.
          </legend>
          <div class="input-block">
            <label for="signup-user-name">Nombre</label>
            <input
              id="signup-user-name"
              type="text"
              name="signup_name"
              [(ngModel)]="signupName"
              required
            />
          </div>
          <div class="input-block">
            <label for="signup-lastname">Apellido</label>
            <input
              id="signup-lastname"
              type="text"
              name="signup_lastname"
              [(ngModel)]="signupLastname"
              required
            />
          </div>
          <div class="input-block">
            <label for="signup-email">Correo electrónico</label>
            <input
              id="signup-email"
              type="email"
              name="signup_email"
              [(ngModel)]="signupEmail"
              required
            />
          </div>
          <div class="input-block">
            <label for="signup-password">Contraseña</label>
            <input
              id="signup-password"
              type="password"
              name="signup_password"
              [(ngModel)]="signupPassword"
              required
            />
          </div>
          <div *ngIf="errorMsg.length > 0" class="error">
            <p *ngFor="let err of errorMsg">{{ err }}</p>
          </div>
        </fieldset>
        <button class="btn-signup" type="submit">Crear cuenta</button>
      </form>
    </div>
  </div>
</div>
